<!DOCTYPE html>
<html lang="en">
<head>
    {{> head customTitle="Admin Login | " }}
</head>
<body>
    {{> admin }}
    <h1>WELCOME BACK {{ this.username }}</h1>
    <div>
        <a href="/admin/dashboard">check</a>
        <a></a>
        <a></a>
    </div>
    {{> footer}}
</body>
</html>
