<!DOCTYPE html>
<html lang="en">
<head>
{{> head customTitle="Store | " }}
</head>
<body>
    {{> admin}}
        <p>{{ this.error }}</p>    
        <form action="/store/1" method="post">
            <input placeholder="ที่อยู่" name="address" id="address">
            <input placeholder="เบอร์โทร" name="number" id="number" type="number">
            <input type="checkbox" id="item1" name="item1" value="example">
            <label for="vehicle2"> I have a car</label><br>
            <button>submit</button>
        </form>
    {{> footer}}
</body>
</html>